ul {
    list-style: none;
}

td {
    font-size: 18px;
}

.navigation {
    margin-left: -15px;
    position: relative;
}

.btn-primary {
    background: #f5c42d;
    color: #003399;
    font-size: 15px;
    font-weight: 500;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary:focus {
    background: #003399;
    color: #f5c42d;
}

body {
    color: #f5c42d;
    background-color: #003399;
}

img {
    height: 330px;
    position: absolute;
    margin-top: 30px;
}

.imageContainer {
    padding-left: 40px;
}

.tableContainer {
    position: relative;
    padding-left: 55px;
    width: 430px;
}

.table>tbody>tr>td, .table>thead>tr>td {
    border-top: 1px dashed #ffffff;
}

h1 {
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
    font-size: 50px;
    background-color: #003399;
    margin-top: 0;
    color: #f5c42d;
    padding-left: 20px;
    text-align: center;
}

.view-frame.ng-enter, .view-frame.ng-leave,
.col-sm-offset-5-add, .col-sm-offset-5-remove {
    -webkit-transition: 0.35s linear all;
    -moz-transition: 0.35s linear all;
    -o-transition: 0.35s linear all;
    transition: 0.35s linear all;
}

.darkMode-add, .darkMode-remove,
.changeTheme-add, .changeTheme-remove {
    -webkit-transition: .25s linear all;
    -moz-transition: .25s linear all;
    -o-transition: .25s linear all;
    transition: .25s linear all;
}

.view-frame.ng-enter {
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.view-frame.ng-enter.ng-enter-active {
    opacity: 1;
}

.view-frame.ng-leave.ng-leave-active {
    opacity: 0;
    height: 0;
}

.custom-btn {
    width: 200px;
    font-weight: 900;
    font-size: 17px;
}

.darkMode {
    color: #f5c42d;
    background: #0031ff;
}

.darkMode:hover, .darkMode:active, .darkMode.active, .darkMode:focus {
    color: #0031ff;
    background: #f5c42d;
}

.changeTheme {
    background: #000000;
    color: #0031ff;
}

