ul {
    list-style: none;
}

td {
    font-size: 18px;
}

.navigation {
    margin-left: -15px;
    position: relative;
}

.btn-primary {
    background: #f5c42d;
    color: #003399;
    font-size: 15px;
    font-weight: 500;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary:focus {
    background: #003399;
    color: #f5c42d;
}

body {
    color: #f5c42d;
    background-color: #003399;
}

img {
    height: 330px;
    position: relative;
    padding-left: 45px;
    margin-top: 30px;
}

.imageContainer {
    position: relative;
}

h1 {
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
    font-size: 50px;
    background-color: #003399;
    margin-top: 0px;
    color: #f5c42d;
    padding-left: 20px;
    text-align: center;
}

.view-frame.ng-enter, .view-frame.ng-leave {
    -webkit-transition: 0.3s linear all;
    -moz-transition: 0.3s linear all;
    -o-transition: 0.3s linear all;
    transition: 0.3s linear all;
}

.view-frame.ng-enter {
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.view-frame.ng-enter.ng-enter-active {
    opacity: 1;
}

.view-frame.ng-leave.ng-leave-active {
    opacity: 0;
    height: 0;
}
