<div class="col-sm-2 navigation">
	<a class="btn btn-primary btn-lg custom-btn" ng-class="{darkMode: dark}" ng-click="dark = !dark">Toggle Lights</a>
	<a class="btn btn-primary btn-lg custom-btn" ng-class="{darkMode: dark}" ng-click="moved = !moved">Toggle Layout</a>

	<br><br>
	<div class="btn-group-vertical">
		<a class="btn btn-primary btn-lg" ng-class="{active: isActive('barbosa'), darkMode: dark}" href="#/barbosa">Leandro Barbosa</a>
		<a class="btn btn-primary btn-lg" ng-class="{active: isActive('barnes'), darkMode: dark}" href="#/barnes">Harrison Barnes</a>
		<a class="btn btn-primary btn-lg" ng-class="{active: isActive('bogut'), darkMode: dark}" href="#/bogut">Andrew Bogut</a>
		<a class="btn btn-primary btn-lg" ng-class="{active: isActive('curry'), darkMode: dark}" href="#/curry">Stephen Curry</a>
		<a class="btn btn-primary btn-lg" ng-class="{active: isActive('ezeli'), darkMode: dark}" href="#/ezeli">Festus Ezeli</a>
		<a class="btn btn-primary btn-lg" ng-class="{active: isActive('green'), darkMode: dark}" href="#/green">Draymond Green</a>
		<a class="btn btn-primary btn-lg" ng-class="{active: isActive('holiday'), darkMode: dark}" href="#/holiday">Justin Holiday</a>
		<a class="btn btn-primary btn-lg" ng-class="{active: isActive('iguodala'), darkMode: dark}" href="#/iguodala">Andre Iguodala</a>
		<a class="btn btn-primary btn-lg" ng-class="{active: isActive('kuzmic'), darkMode: dark}" href="#/kuzmic">Ognjen Kuzmic</a>
		<a class="btn btn-primary btn-lg" ng-class="{active: isActive('lee'), darkMode: dark}" href="#/lee">David Lee</a>
		<a class="btn btn-primary btn-lg" ng-class="{active: isActive('livingston'), darkMode: dark}" href="#/livingston">Shaun Livingston</a>
		<a class="btn btn-primary btn-lg" ng-class="{active: isActive('mcadoo'), darkMode: dark}" href="#/mcadoo">James Michael McAdoo</a>
		<a class="btn btn-primary btn-lg" ng-class="{active: isActive('rush'), darkMode: dark}" href="#/rush">Brandon Rush</a>
		<a class="btn btn-primary btn-lg" ng-class="{active: isActive('speights'), darkMode: dark}" href="#/speights">Marreese Speights</a>
		<a class="btn btn-primary btn-lg" ng-class="{active: isActive('thompson'), darkMode: dark}" href="#/thompson">Klay Thompson</a>
	</div>
</div>